.education {
    padding: 105px 0;

    @media(max-width: 1250px) {
        padding: 105px 10px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 72px;
        gap: 50px;

        @media(max-width: 980px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }


    &-path {
        width: 100%;
    }

    &-list__item {
        position: relative;
        padding-left: 28px;

        &:not(:last-child) {
            padding-bottom: 64px;
            
            &:after {
                content: '';
                width: 2px;
                height: 100%;
                background-color: var(--color-light-2);
                position: absolute;     
                top: 0;
                left: 7px;
            }

        }

        &:before {
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--color-light-2);
            position: absolute;     
            top: 0;
            left: 0;
        }
       
        &-name {
            font-family: var(--ff-jakarta);
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: var(--color-cinder);
        }

        &-speciality {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--color-cinder-light);
            margin-top: 10px;
        }

        &-duration {
            font-size: 14px;
            font-weight: 500;
            margin-top: 24px;
        }
    }

    &-description {

        &__text{
            color: var(--color-cinder-light);
        }

        &__progress {
            margin-top: 64px;

            &-item {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
                
                p {
                    margin-bottom: 16px;
                    font-weight: 500;
                    font-size: 14px;
                }

            }
        }
    }

&-progress {
    &__wrapper {
        border: none;
        border-radius: 2px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
      }
      
      &__container {
        background-color: var(--color-purple-light);
        height: 8px;
        border-radius: 2px;
      }
      
      &__barCompleted {
        background-color: var(--color-purple);
        width: 80%;
        height: 8px;
        border-radius: 2px;

        span {
            display: none!important;
        }
      }
      
    }
} 