

:root{
    --color-cinder: #232e35;
    --color-cinder-light: #656D72;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-1: #FBFBFB;
    --color-light-2: #F1F1F1;
    --color-light-3: #F5F5F5;
    --color-light-4: #D9D9D9;
    --color-purple-dark: #9747FF;
    --color-purple: #7E74F1;
    --color-purple-light: #F5F3FE;
    --color-purple-ligther: #EAE6FE;

    --bg-white: #FFFFFF;
    --bg-cinder: #232e35;
    --bg-purple-light: #F5F3FE;
    --bg-light-4: #D9D9D9;
    --bg-light-1: #FBFBFB;



    
    --ff-poppins: 'Poppins', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-jakarta: 'Plus Jakarta Sans', sans-serif;
}